.board {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    border: 2px solid #333;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    background-color: #ffffff;
}